/* CSS Document */
@charset "UTF-8";

/*全局样式*/
body { margin:0; padding:0; font-family:"Microsoft Yahei"; font-size:14px; min-width:1080px; background:#fff}
input,textarea {font-family:"Microsoft Yahei"; font-size:14px; }
a, input, textarea { outline:none}
a { color:#666; text-decoration:none; transition:all 0.2s}
a:hover, a:focus { color:#15813A}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family:"microsoft yahei", "lvetica Neue", Helvetica, Arial, sans-serif; font-weight:500; color:inherit}
.h1, .h2, .h3, .h4, .h5, .h6 { margin:0}
img { padding:0; margin:0; border:0px}
*:link, *:visited, *:hover, *:active, *:focus, .item-on-hover, .btn-more, #button { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; transition:all 0.3s linear}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, menu, section, summary { margin:0; padding:0; display:block}
.clearfix:before, .clearfix:after, .container:before, .container:after, .nav:before, .nav:after, .row:before, .row:after { display:table; content:" "}
.clearfix:after, .container:after, .nav:after, .row:after { clear:both}
p,h1,h2,h3,h4,h5,h6,ul,li,div,span{margin: 0;padding: 0;}
input,textarea,a,span,img,li,ul,dd,dt,p,em,i { outline:none;}
.clear{ clear:both; height:0; line-height:0; font-size:0;}
.clearfix:after{ content:""; clear:both; height:0; visibility:hidden; display:block;}
.clearfix{*zoom:1}

li,ul,dd,dl,dt { list-style:none; list-style-type:none; padding:0; margin:0}
.tr { text-align:right}
.tl { text-align:left}
.fl { float:left}
.fr { float:right}
.tc { text-align:center}
.ul-list { padding:0; margin:0; list-style:none; list-style-type:none}
.p45 { padding:45px 0}
.mt40 { margin-top:40px}
.mb40 { margin-bottom:40px}
.mlr60 { margin:0 60px}
.p60 { padding:60px 0}
.mr50 { margin-right:50px}
.mt0 { margin-top:0}
.mb20 { margin-bottom:20px}
.mb30 { margin-bottom:30px}
.container { width:1080px; min-width:1080px; margin-left:auto; margin-right:auto}
.hr {background:url(/spectacle/img/hr.png) no-repeat center 0;width:100%;height:30px}
a:hover { text-decoration: underline;}
/*header*/
#header { background:#F8F8F8; height:36px; line-height:36px; overflow:hidden; color:#666;width: 100%}
.header_top { width: 1080px; margin:0 auto; line-height:36px}
.header_top span { float:right}
.header_top span a { color:#666; display:inline-block; padding:0 10px}
.header_top span a:hover { text-decoration: underline}

.header_m { height:137px; width: 1080px; margin:0 auto; overflow:hidden}
.header_m h2 { width:260px; height:91px; overflow:hidden; background:url("/spectacle/img/logo_line.gif") no-repeat right top; margin-top:30px; float:left}
.header_m h2 img { width:236px; height:76px}
.header_m h3 { width:340px; padding:45px 28px 0 28px; font:26px "microsoft yahei"; text-align:center; font-weight:bold; color:#15813a; float:left}
.header_m h3 em { display:block; font:14px Arial, Helvetica, sans-serif; text-transform:uppercase; background:url("/spectacle/img/logo_h.gif") no-repeat center center; color:#666; margin-top:5px; letter-spacing:4px}
.header_m h4 { width:295px; float:right; margin-top:30px; height:95px; overflow:hidden}
.header_m h4 p { color:#666; background:url("/spectacle/img/lx.gif") no-repeat 80px 2px; text-align:right; height:55px}
.header_m h4 p em { display:block; font:26px Impact; color:#15813a}
.header_m h4 span { display:block; width:226px; height:21px; background:#a0c23c; text-align:center; line-height:21px; overflow:hidden; color:#fff; float:right}

/*nav*/
.header_nav {height: 58px; width: 100%; background:#137F39; line-height:58px; position:relative}
.nav { display:table; height:58px}
.nav-bar { width: 1080px; margin:0 auto;}
.nav-bar li { display:block; float:left; text-align:center; position:relative}
.nav-bar li:hover {background-color:#A0C23C;}
.nav-bar li.active { background-color:#A0C23C; font-weight: bold}
.nav-bar li a { padding:0 33px; display:block; color:#fff; font-size:16px; height:58px; line-height:58px}
.nav-bar li a:hover, .nav-bar li:hover a, .nav-bar li.active a {text-decoration:none}
.nav-bar li ul { display:none; background-color:#A0C23C; position:absolute; left:0px; top:58px; z-index:99999;width: 100%; text-align: center}
.nav-bar li ul li { float:none; display:block; border-top:1px #98BB47 dashed}
.nav-bar li ul li:last-child { border-bottom:none}
.nav-bar li:hover ul { display:block}
.nav-bar li ul li a { height:auto; padding:0px 20px; display:block; height:40px; font-size:15px; line-height:40px; font-weight: normal}
.nav-bar li ul li a:hover { text-decoration:none; background-color:#137F39;color:#fff}
.nav-bar li a.hover {background-color:#A0C23C; font-weight: bold}

/*-----------footer-----------*/
.footer { background:#15813a; overflow:hidden;width: 100%;float: left}
.foot { width: 1080px; margin:0 auto}
.foot_t { height:230px; margin-top:55px; overflow:hidden}
.copyright {background:url("/spectacle/img/f_line.gif") repeat-x center bottom; font-size:12px;padding:15px 0; text-align:center;color:#fff;text-transform:uppercase}
.copyright a {color:#fff}
.frilinks {text-align:center;padding:10px 0 5px}
.frilinks a {color:#A3CFB2;padding:3px 5px}
.frilinks a:hover {color:#fff;text-decoration:none}
.frilinksSubmit{padding:10px 0}
.frilinksSubmit a{ display:block;width:228px;background:#ddd url(/spectacle/img/slink.png) no-repeat 20px center;margin:0 auto;height: 30px;line-height: 30px;border-radius: 25px;padding-left:46px;color:#15813A;}
.frilinksSubmit a:hover {color:#111; text-decoration:none}

.foot_link { width:128px; height:248px; overflow:hidden; background:url("/spectacle/img/fline.gif") no-repeat left top; padding-left:50px;float: left}
.foot_t h3 { display:block; font-size: 16px;font-weight:bold; height:36px; overflow:hidden; color:#fff}
.foot_t li { line-height:30px; color:#fff; display:block}
.foot_t li a { display:block; color:#fff}
.foot_code { width:480px; height:250px; overflow:hidden; padding-left:60px; background:url("/spectacle/img/fline.gif") no-repeat left top; float:right}
.foot_code ul { height:112px; overflow:hidden}
.foot_code li { width:230px; float:left; margin-right:0}
.foot_code li img { display:block}
.foot_code li em { display:block; line-height:30px; color:#fff;font-weight: normal;font-style: normal}
.foot_code p { font-size: 12px; line-height:32px; color:#fff; background:url("/spectacle/img/f1.gif") no-repeat left 10px; padding-left:30px; float:left; width:215px}
.foot_code .p01 { background:url("/spectacle/img/f2.gif") no-repeat left 10px}
.foot_code .p02 { background:url("/spectacle/img/f3.gif") no-repeat left 10px}
.foot_code .p03 { background:url("/spectacle/img/f4.gif") no-repeat left 10px}
.foot_code .p04 { background:url("/spectacle/img/f5.gif") no-repeat left 6px; width:215px}
.foot_b { height:64px; font-size:12px; line-height:64px; color:#fff; overflow:hidden; }
.foot_b a{ color:#fff;padding-right:10px}
.foot_b a:hover {text-decoration: underline;}
.foot_b em{ padding:0 15px;font-weight: normal}
.foot_b_l {float:left}
.foot_b_r {float:right}
.foot_b_r a{ padding:0 20px;}

/*banner*/
.banner {width: 100%;height: 527px;overflow: hidden}

/*home_search*/
.home_ss { height:77px; line-height:77px;border-bottom:1px solid #ccc; overflow:hidden; width: 100%}
.content {width: 1080px; margin:0 auto}
.home_ss_l { width:600px; float: left; color:#ccc; height:77px; line-height:77px;padding-left: 23px;background:url("/spectacle/img/sou_icon.gif") no-repeat left center;}
.home_ss_l b { color:#999}
.home_ss_l a { color:#666; padding:0 4px}
.home_ss_l a:hover { color:#A0C23C; text-decoration:none}
.home_ss_l span {color:#A0C23C}
.home_ss_r { float: right;width: 335px;margin-top: 20px;height: 38px}
.home_ss_r input { padding:0; margin:0}
.home_ss_r .inp01{ width:283px; height:30px; line-height:30px; background:url("/spectacle/img/sou1.gif") no-repeat; border:0 ; color:#666; padding:4px 0 4px 10px;float: left;}
.home_ss_r .inp02{ background:url("/spectacle/img/sou2.gif") no-repeat; width:42px; height:38px; border:0; cursor:pointer}

/*ds*/
.ds { height:593px; margin-top:50px; overflow:hidden}
.tit1{ height:106px; text-align:center; overflow:hidden;font-size: 28px; font-weight:bold}
.tit1 a{ color:#0e7939}
.tit1 a:hover{ text-decoration:none;}
.tit1 em{ display:block; background:url("/spectacle/img/h01.gif") no-repeat center center; font:14px Arial, Helvetica, sans-serif; text-transform:uppercase; color:#999; letter-spacing:3px;font-weight: normal}
.tit1 span{ display:block;font-size: 18px; color:#000; margin-top:6px;font-weight: normal}

.ds2{ height:450px; overflow:hidden; background:url("/spectacle/img/ds_bg.jpg") no-repeat center top; margin-top:27px}
.ds2 .content{ position:relative; height:450px; overflow:hidden}
.ds2 dl{ width:325px; height:130px; overflow:hidden}
.ds2 dt{ font-size: 16px;text-align:center; font-weight:bold; height:36px; overflow:hidden; color:#fff}
.ds2 dd{ text-align:center; line-height:24px; color:#fff}
.ds2 .dl01{ position:absolute; top:55px; left:10px}
.ds2 .dl02{ position:absolute; top:55px; left:745px}
.ds2 .dl03{ position:absolute; top:283px; left:285px; width:245px}
.ds2 .dl04{ position:absolute; top:283px; left:840px; width:215px}
.ds2 h3{ width:359px; height:225px; overflow:hidden; position:absolute; top:0; left:361px}
.ds2 h3 img{ width:359px; height:225px}
.ds2 h4{ width:269px; height:225px; position:absolute; top:225px; left:541px}
.ds2 h4 img{width:269px; height:225px}

/*home-pro*/
.pro{ width:1080px; margin:40px auto 0; height:320px; overflow:hidden}
.pro em {font-style: normal;}
.pro .p01 a{ display:block; width:24px; height:49px; overflow:hidden; background:url("/spectacle/img/l01.png") no-repeat; margin-top:72px}
.pro .p01 a:hover{background:url("/spectacle/img/l11.png") no-repeat}
.pro .p02 a{display:block; width:24px; height:49px; overflow:hidden; background:url("/spectacle/img/r01.png") no-repeat; margin-top:72px}
.pro .p02 a:hover{background:url("/spectacle/img/r11.png") no-repeat}
.pro2{ float:left}
.pro li{ width:201px; float:left; display:inline; margin:0 0 0 43px}
.pro li img{ width:201px; height:181px}
.pro li em{ display:block; font-size: 16px; text-align:center; font-weight:bold; height:24px; overflow:hidden; color:#333}
.pro li p{ text-align:center; padding:0px 20px 0 20px; color:#666; line-height:24px; height:73px; overflow:hidden}

/*about*/
.about{ height:385px; overflow:hidden; padding-top:70px; background:#f8f8f8}
.about dl{ height:322px; overflow:hidden}
.about dt{ width:538px; height:322px; overflow:hidden; float:left}
.about dt img{width:538px; height:322px}
.about dd{ width:440px; float:right; margin-right:40px}
.about dd h3{ height:90px; overflow:hidden; font-size: 20px; font-weight:bold; line-height:90px;}
.about dd h3 a{ color:#15813a}
.about dd h3 em{ font:24px Arial, Helvetica, sans-serif; text-transform:uppercase; color:#999; padding-left:10px}
.about dd p{ line-height:26px; height:136px; overflow:hidden}
.about dd span{ display:block; width:376px; height:35px; border:1px solid #ccc; border-right:0; overflow:hidden; margin-top:30px}
.about dd span a{ display:inline-block; width:124px; height:35px; border-right:1px solid #ccc; text-align:center; line-height:35px}
.about dd span a:hover{ color:#fff; background:#a0c23c}

/*team*/
.team{ height:520px; overflow:hidden; background:#f8f8f8}
.team .tit1 em{ background:url("/spectacle/img/h02.gif") no-repeat center center}

.team2{ margin-top:34px; height:305px;overflow:hidden; position:relative; width:1122px; margin:0 auto}
.team1{ margin:0 auto}
.team1 dl.cur{ width:438px; height:305px; overflow:hidden; float:right}
.team1 dl{height:305px; overflow:hidden; float:right}
.team1 dt{ width:228px; height:305px; float:left}
.team1 dt img{ width:228px; height:305px}
.team1 dd{ width:190px; padding:40px 10px 0 10px; background:#15813a; overflow:hidden; height:265px}
.team1 dd h3 a{ color:#fff; height:34px; font-size: 16px; line-height:34px}
.team1 dd p{ line-height:24px; color:#b9d9c4; margin-top:15px}
.team1 dd span a{ display:block; width:125px; height:40px;color:#fff; background:#a0c23c; line-height:40px; overflow:hidden; text-align:center; margin-top:26px;margin-left: 33px}

/*bz*/
.bz{ height:680px; overflow:hidden; background:#f8f8f8}
.bz .tit1 em{ /*background:url("/spectacle/img/h03.gif") no-repeat center center;*/ background-color: #f8f8f8}
.bz2{ margin-top:32px; background:url("/spectacle/img/bz_bg.jpg") no-repeat center 52px; position:relative; height:540px}
.bz2 dl{ width:260px; height:135px; overflow:hidden; position:absolute}
.bz2 dt{font-size: 20px;font-weight:bold; color:#15813a}
.bz2 dt em{ font:40px Impact; padding-right:12px}
.bz2 dd{ line-height:24px; color:#666}
.bz2 .dl01{ top:15px; left:70px}
.bz2 .dl02{top:189px; left:0}
.bz2 .dl03{top:360px; left:70px}
.bz2 .dl04{top:15px; right:70px; text-align:right}
.bz2 .dl05{top:189px; right:0;text-align:right}
.bz2 .dl06{top:360px; right:70px;text-align:right}
.bz2 .dl04 dt em,.bz2 .dl05 dt em,.bz2 .dl06 dt em{ padding:0 0 0 12px}

/*jm*/
.jm{ height:695px; margin-top:60px; overflow:hidden}
.jm .tit1 em{ background:url("/spectacle/img/h04.gif") no-repeat center center}

.jm2{ height:491px; position:relative; width:1080px; margin:15px auto 0}
.jm2 .p01 a{ display:block; width:24px; height:49px; overflow:hidden; background:url("/spectacle/img/l01.png") no-repeat; position:absolute; top:145px; left:-60px}
.jm2 .p01 a:hover{background:url("/spectacle/img/l11.png") no-repeat}
.jm2 .p02 a{display:block; width:24px; height:49px; overflow:hidden; background:url("/spectacle/img/r01.png") no-repeat; position:absolute; top:145px; right:-60px}
.jm2 .p02 a:hover{background:url("/spectacle/img/r11.png") no-repeat}
.jm2 dl{ width:339px; float:left; display:inline; margin-right:30px}
.jm2 dt{ width:323px; height:298px; padding:7px; border:1px solid #e5e5e5}
.jm2 dt img{width:323px; height:298px}
.jm2 dd p{ height:72px;line-height:24px;overflow:hidden;color:#666; padding:0 30px; text-align:center; margin:15px 0}
.jm2 dd span a{ display:block; width:203px; height:36px; text-align:center; line-height:36px; overflow:hidden; border:1px solid #15813a; color:#15813a; margin:0 auto}
.jm2 dd span a:hover{ border:1px solid #90bc2f; color:#90bc2f}
.jm2 .dl03{ margin-right:0}
.jmmore { display:block; width:145px; height:44px; text-align:center; line-height:44px; overflow:hidden; background:#90bc2f; color:#fff; margin:0 0 0 45%}
.jmmore a{color:#fff}

.jmtj_2 {background:url("/spectacle/img/20160527220727_2762.jpg") no-repeat 0 0px;height:415px;margin-bottom:60px;}


/*news*/
.new{ height:580px; padding:60px 0; background:#f8f8f8; overflow:hidden}
.new .tit1 em,.fangan .tit1 em{ background:url("/spectacle/img/h.png") no-repeat center}
.dy{ width:330px; height:500px; overflow:hidden; margin-right:45px}
.dy h3{ font-size:14px;font-weight:bold;line-height:16px}
.dy dl{ height:145px; overflow:hidden}
.dy dt{ width:155px; float:left}
.dy dt img{ background:#fff; padding:5px; border:1px solid #e4e4e4; width:143px; height:113px; display:block}
.dy dd{ width:153px; float:right; overflow:hidden}
.dy dd h4 a{ display:block; font-size: 16px; font-weight:bold; height:36px; overflow:hidden}
.dy dd p{ height:60px;line-height:20px;overflow:hidden;margin-top:10px;color:#666;}
.tit2{ height:52px; font-size: 16px; font-weight:bold; line-height:52px; overflow:hidden;padding-left:0px}
.tit2 a{ color:#333}
.tit2 span a{ font:14px Arial, Helvetica, sans-serif; line-height:52px; color:#666; text-transform:uppercase}
.tit2 a span{ font-weight:normal; font-size:12px}
.faq{ width:328px; height:500px; overflow:hidden;}
/*cases*/
.fangan { padding:0 0 60px 0; position: relative}
.fangan_main h2 { color:#121212; text-align:center; font-size:30px; font-weight:700; line-height:40px; letter-spacing:2px; margin:0}
.fangan_main p { margin:0; color:#111; font-size:20px; letter-spacing:3px; text-align:center; line-height:40px}
#fangan{margin:0 auto;margin-top:0px; margin-bottom:0; color:#222}
#fangan .owl-wrapper-outer{margin:0 auto; width:1080px}
#fangan .owl-carousel .owl-wrapper-outer { width:1080px; margin:0 auto}
#fangan .item{position:relative;width:200px;height:304px;margin:0 auto;overflow:hidden; text-align:center}
#fangan .owl-buttons div{position:absolute;top:200px;width:45px;height:80px;margin:0;padding:0;border-radius:0;overflow:hidden;_display:none}
#fangan img { width:100%; height:264px}
#fangan .owl-prev{left:10px; background:url("/spectacle/img/l01.png") no-repeat center center}
#fangan .owl-next{right:10px; background:url("/spectacle/img/r01.png") no-repeat center center}
#fangan .txt{width:100%;height:40px;line-height:20px;font-size:12px; color:#333; text-align:center;overflow:hidden}
#fangan .dsc{width:100%;height:80px; font-size:12px; line-height:20px; overflow:hidden; text-align:left;color:#222}
.fangan .owl-buttons, .service .owl-buttons { opacity:0; transition:ease-in-out 0.3s; -webkit-transition:ease-in-out 0.3s; -o-transition:ease-in-out 0.3s; -moz-transition:ease-in-out 0.3s; z-index:5}
.fangan:hover .owl-buttons, .service:hover .owl-buttons { opacity:1}

.faq h4{ width:328px; height:130px; overflow:hidden}
.faq h4 img{ width:316px; height:113px; background:#fff; padding:5px; border:1px solid #e4e4e4; display:block}
.faq dl{ padding:8px 0; border-bottom:1px dashed #ccc}
.faq dt a{ display:block; line-height:28px; background:url("/spectacle/img/q.jpg") no-repeat left 8px; padding-left:30px; color:#15813a}
.faq dd{ height:72px;line-height:24px; overflow:hidden; color:#666; background:url("/spectacle/img/a.jpg") no-repeat left 2px; padding-left:30px}


/*contact*/
.contact { width: 1080px; margin:0 auto}
.contact em { font-style: normal}
.con_box { height:352px; margin-top:47px; overflow:hidden}
.onl{ width:300px; height:350px; overflow:hidden;}
.onl h2{ font-size: 22px;font-weight:bold; color:#15813a; height:187px; overflow:hidden; margin-top:10px}
.onl h2 em{ display:block; font-size: 20px; margin-top:30px;font-weight: normal}
.onl p{ color:#666; background:url("/spectacle/img/online_lx.gif") no-repeat left 3px; padding-left:42px; height:48px}
.onl p em{ font-size: 22px; color:#15813a}
.onl span{ display:block; height:40px; overflow:hidden}
.onl span a{ display:inline-block; width:112px; height:34px; border:1px solid #ccc;text-align:center; color:#666; line-height:34px; margin-right:14px}
.onl span a.a01{ background:#a0c23c; color:#fff; border:1px solid #a0c23c}

.onl2{ width:700px; height:350px; overflow:hidden; position:relative}
.onl2 h5{ font-size: 16px; font-weight:bold; color:#15813a; height:46px; line-height:46px; overflow:hidden}
.onl2 li{ width:310px; height:42px; border:1px solid #ccc; margin-bottom:18px; position:relative}
.onl2 li em{ display:inline-block; width:58px; text-align:right; color:#666; float:left; height:42px; line-height:42px}
.onl2 li em i{ color:#f00909; padding-right:8px}
.onl2 li input{ width:235px; height:42px; padding-left:5px; line-height:42px; color:#666; overflow:hidden; background:none; border:0}
.onl2 .yz{ width:148px}
.onl2 .yz input{ width:75px}
.onl2 .yz a{ display:inline-block; width:150px; height:46px; font-size: 18px; text-align:center; color:#fff; background:#fff; position:absolute; top:-2px; left:160px;}
.onl2 .ly{ height:166px; width:370px; position:absolute; top:46px; right:0}
.onl2 .ly em{ width:350px; text-align:left; padding-left:20px}
.onl2 .ly textarea{ height:125px; line-height:32px; background:none; overflow:hidden; color:#666; width:370px; border:0; resize:none}
.onl2 .btt{ position:absolute; top:230px; right:0; width:370px; border:0}
.onl2 .btt .ip01{ width:180px; height:46px; text-align:center; color:#fff; margin-right:9px; background:#a0c23c; line-height:46px; border:0; overflow:hidden; cursor:pointer; padding:0}
.onl2 .btt .ip02{ width:178px; height:44px; text-align:center; color:#666; border:1px solid #ccc; line-height:44px; overflow:hidden;cursor:pointer;padding:0; float:right}



/*--------------------------------------------------------page inner--------------------------------------------------------*/
/*banner*/
.page_banner{ overflow: hidden; text-align: center;width: 100%}
.page_banner a{display: block;margin: 0 auto;height: 300px}
/*position*/
.position { height:20px; line-height:20px}
.position a { color:#666; margin:0 5px}
/*search*/
.page_search{ height:77px; line-height:77px; overflow:hidden;border-bottom:1px solid #ddd; background-color:#eee;margin-bottom:20px}

/*-----------------------------新闻详细--------------------------*/
.right { width:855px; float:right; display:inline; margin-left:24px; overflow:hidden;padding-bottom: 20px}
.right5 { width:1080px; margin:0 auto; display:inline; overflow:hidden}
.right2 { width:275px;  float:right; overflow:hidden}
.right3 { width:201px; float:right; overflow:hidden; color:#666}
.right2top { height:3px; font-size:0; overflow:hidden}
.rightbot { height:3px; font-size:0; overflow:hidden; margin-bottom:10px}
.right2bot { height:3px; font-size:0; overflow:hidden; margin-bottom:10px}

/*products*/
.pro_main { background-color:#fff;zoom:1; overflow:hidden}
.pro_wrap { overflow: hidden}
.pro_box { width:265px; overflow:hidden; float:left; padding:0px 20px 0 0px}
.pro_img img{width:257px; height:231px; border: 2px solid #f1f1f1; padding:5px; transition:all 0.3s}
.pro_img:hover img{ border-color:#EBDF97; opacity:0.7}
.pro_name{ margin-bottom:10px; height:30px; width:238px; line-height:30px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; position:relative; text-align:center}
.pro_name a{ color:#4c4c4c;font-size:14px}

/*产品列表下面的热门产品以及推荐新闻*/
/*pro*/
.RandomNews { border: 1px solid #eaeaea; padding-bottom:10px; margin-bottom:15px;min-height: 61px}
.diysr { border-top: 3px solid #337ac5; height:52px; line-height:52px; border-top:3px solid #eaeaea; padding:0 20px 0 17px; color: #A0C23C; font-family: "Microsoft YaHei", "微软雅黑"; font-size: 16px; font-weight: bold; padding-right: 5px}
.diysr .line { border-top: 1px dotted #9a9a9a; font-size:0; height:0; margin-right: 10px; overflow:hidden}
.diysr i { font-size:10px; font-family:arial; font-weight:normal; text-transform:uppercase; font-style:normal; padding-left:5px; color: #999}
.news_random { margin: 0 8px; overflow:hidden}
.news_random ul { padding-top:20px; display:block; width:814px}
.news_random ul li { height:28px; line-height:28px; padding:0 17px 0 10px; width:397px; float:left; overflow:hidden}
.news_random ul li a { background:url("/spectacle/img/ico55.gif") no-repeat 0 4px; padding-left:12px}
.hot_pro { float:left; overflow:hidden; width: 255px; padding:20px 10px 0 10px;}
.hot_pro img{width:249px; height:224px; border:0px solid #f1f1f1; padding:5px; transition:all 0.3s}
.hot_pro:hover img{ border-color:#EBDF97; opacity:0.7}
.hot_name{ margin-top:3px; height:30px; width:255px; line-height:30px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; position:relative; text-align:center}
.hot_name a{ color:#4c4c4c;font-size:14px}
/*news*/
.new-s dl{width: 732px;margin: 0 auto;padding-top:25px;height:194px}
.new-s dl dt {height:180px;width: 297px;float: left;position: relative;border-bottom: 1px solid #e2e2e2}
.new-s dl dt img{width: 300px;height: 162px}
.new-s dl dt p{background:url("/spectacle/img/new_03.png") no-repeat;width: 296px;height: 28px;display: inline-block;position: absolute;top:132px;left:2px;font: 14px 'Microsoft  YaHei';color: #fff;text-align: center;line-height: 28px}
.new-s dl dd{width: 405px;float: right;height:180px;border-bottom: 1px solid #e2e2e2; position:relative}
.new-s dl dd p{color: #353e47;font-size: 16px;font-weight: bold;margin-bottom:8px; line-height:25px}
.new-s dl dd span{font-size: 14px ;color: #353e47;display:inline-block;width: 405px;line-height: 28px; height:112px; overflow:hidden}
.new-s dl dd a{display: inline-block;font: 12px 'Microsoft YaHei','微软雅黑';color: #fd8d00; float:right; position:absolute; bottom:15px; right:5px}
.news_random ul li a{ color:#353e47;padding-top:2px}
.news_random ul{ padding-top:0; margin:0 auto}
.news_random ul li{width:397px; padding:0; font-size:12px}
.news_random ul li.fr{ float:right}


/*-----------------------left---------------------*/
.left { width:201px; float:left; overflow:hidden}
.left3 { width:754px; float:left; overflow:hidden; color:#666}
.lefttop { height:3px; font-size:0; overflow:hidden; margin-top:10px}
.left2top {height:3px; font-size:0; overflow:hidden}
.leftbot { height:3px; font-size:0; overflow:hidden;  margin-bottom:10px}
.left2bot {height:3px; font-size:0; overflow:hidden; margin-bottom:10px}
/*类别*/
.leib2,.leib{ width:201px; margin-bottom:20px}
.leib2 .tit,.leib .tit{color:#fff; font:18px "Microsoft YaHei",微软雅黑,arial,宋体; background:#137F39;  height:46px; padding-top:6px; text-align:center; overflow:hidden;border-top:3px solid #A0C23C}
.leib2 .tit i,.leib .tit i{color: #A0C23C;display: block;font:12px Arial; text-align: center; font-size:12px; line-height:18px; text-transform:uppercase}
.leib2 .tit a,.leib tit a{ color:#333}
.leib2 .nr{ border:1px solid #dedede; padding:10px 10px 0px}
.leib2 .nr h3{background:#ebeceb; height:37px; line-height:37px; font-weight:bold; text-indent:0px; text-align:center; margin-bottom:10px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
.leib2 .nr h3 a{color:#333; font-size:14px; font-weight:normal; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;display: block}
.leib2 .nr h3 a:hover,.leib2 .nr h3.cur a{text-decoration: none;color:#A0C23C}
.leib2 .nr ul { padding-bottom:5px}
.leib2 .nr ul li { border-bottom:1px dashed #dedede; height:36px; line-height:36px;margin-bottom:1px;padding-left: 8px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
.leib2 .nr ul li a { color:#494949; background:url("/spectacle/img/left_li.gif") left center no-repeat; display:inline-block; padding-left:12px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
.leib2 .nr ul li:last-child{ border-bottom:0}
.leib2 .nr li.cur a,.leib2 .nr li a:hover{color:#A0C23C;text-decoration: none}
/*联系方式*/
.leftlx{width: 187px;text-align: center; margin-top:10px; padding:10px 6px; border:1px solid #ececec; display:block; margin-bottom:20px}
.leftlx h5 {font-size: 16px;padding: 15px 0px}
.leftlx .phone img {width: 40px;height: 40px;padding-bottom: 10px}
.leftlx span {display: block; font-size:20px; font-weight:bold}
.leftlx .dianhua span  { color:#137F39}
.leftlx .phone p {font-weight: bold;font-size: 22px; padding-bottom: 10px; border-bottom: 1px solid #dedede;  color:#004ebe}
.leftlx p { text-align:left;line-height:25px;padding-left:30px; padding-top:3px;padding-bottom:3px}
.dianhua .addr { background:url("/spectacle/img/icon1.png") no-repeat 5px 6px; line-height:25px}
.dianhua .mobile { background:url("/spectacle/img/icon3.png") no-repeat 5px 6px}
.dianhua .fax { background:url("/spectacle/img/icon5.png") no-repeat 5px 6px}
.dianhua .phone { background:url("/spectacle/img/icon2.png") no-repeat 5px 6px}
.dianhua .email { background:url("/spectacle/img/icon4.png") no-repeat 5px 6px}


/*-------------------------产品详细--------------------------*/
.pro_details { overflow: hidden; *zoom:1; height: 450px; border: 1px solid #ccc;margin-top: 10px}
.details-slider-box{ width:500px; float:left; position:relative}
.details-slider-box .btnl, .details-slider-box .btnr { position:absolute; top:215px; display:block; width:41px; height:41px; cursor:pointer}
.details-slider-box .btnl { background:url("/spectacle/img/pro3_btnl.png") no-repeat; left:0}
.details-slider-box .btnr { background:url("/spectacle/img/pro3_btnr.png") no-repeat; right:0px}
.details-slider-box li{height:450px}
.details-slider-box li img { width:500px; height:450px}

.pro_attr { width:517px;height:428px;  float:right; padding: 10px 29px 10px 30px; border-left: 1px solid #ccc}
.pro_attr h3 { font-size: 24px; height:30px; line-height:30px; color:#137F39; font-weight:bold; padding: 10px 0px}
.pro_attr_p { font-size:14px; line-height:24px; margin-bottom: 2px; height:290px; overflow:hidden}
.pro_attr_p dl {float:left;padding:8px 0;border-bottom:1px #eee solid}
.pro_attr_p dt {float:left;width:80px;text-align:center;line-height:20px;margin-right:10px;}
.pro_attr_p dd {width:400px;line-height:20px;float:left}

.pd_hotline { float: left; height: 50px; line-height: 86px}
.pd_hotline span { font-size:16px; color:#333;padding-bottom: 20px}
.pd_hotline span.font_hotline { font-size:24px; color:#137F39;font-weight:bold}
.propar div {padding:5px; padding-bottom:0;  float: left;line-height:22px}
.pro_content{ font-size:14px; padding:25px 0;line-height:25px}
.pro_content p{margin:20px 0}

.lmt{ width: 1080px;height:106px; text-align:center; overflow:hidden; font:28px "Microsoft Yahei"; font-weight:bold}
.lmt b{ color:#0e7939}
.lmt em{ display:block; background:url("/spectacle/img/20160519152606_6410.png") no-repeat center center; font:14px Arial, Helvetica, sans-serif; text-transform:uppercase; color:#999; letter-spacing:3px}
.lmt span{ display:block; font:18px "Microsoft Yahei"; color:#000; margin-top:6px}

.lmt1{ height:106px; text-align:center; overflow:hidden; font:28px "Microsoft Yahei"; font-weight:bold;margin: 50px 0 0 0px}
.lmt1 b{ color:#0e7939}
.lmt1 em{ display:block; background:url("/spectacle/img/20160519170957_9481.gif") no-repeat center center; font:14px Arial, Helvetica, sans-serif; text-transform:uppercase; color:#999; letter-spacing:3px}
.lmt1 span{ display:block; font:18px "Microsoft Yahei"; color:#000; margin-top:6px}

.pro_detail_box {font-size:14px; font-weight: normal}
.png{margin-bottom:25px;float:left}
.png .nam1{width:102px;height:81px;padding-left:30px;font-weight:700;font-size:18px;line-height:80px;color:#fff;float:left;background-color:#458D29}
.png .nam2{width:102px;height:81px;padding-left:30px;font-weight:700;font-size:18px;line-height:80px;color:#fff;float:left;background-color:#DEAF0B}
.png .namx{width:923px;height:64px;float:right;display:inline;background-color:#efefef;padding:8px 10px 10px 15px}
.png .namx p{margin:0}


.gy dl{float:left;width:256px;height:390px;margin-right:5px;margin-top:20px;margin-bottom:5px;overflow:hidden;padding:35px 5px 0 5px;box-shadow:1px 3px 3px #ccc}
.gy dt{height:210px;text-align:center;overflow:hidden}
.gy dd{height:75px}
.gy h3{font-size:16px;text-align:center;margin-top:30px}
.gy p{margin-top:15px;text-align:justify;font-size:14px;color:#ababab;padding:0 10px 0 10px}
.gy .on:hover{background:#F08300;color:#fff}
.ty{ height:593px; margin-top:50px; overflow:hidden}
.ty2{ height:450px; overflow:hidden; background:url("/spectacle/img/20160519170957_7137.jpg") no-repeat center top; margin-top:27px}
.ty2 .content2{ position:relative; height:450px}
.ty2 dl{ width:325px; height:130px; overflow:hidden}
.ty2 dt{ font:16px "Microsoft Yahei"; text-align:center; font-weight:bold; height:36px; overflow:hidden; color:#fff}
.ty2 dd{ font:14px "Microsoft Yahei"; text-align:center; line-height:24px; color:#fff}
.ty2 .dl01{ position:absolute; top:55px; left:21px}
.ty2 .dl02{ position:absolute; top:55px; left:738px}
.ty2 .dl03{ position:absolute; top:283px; left:283px; width:245px}
.ty2 .dl04{ position:absolute; top:283px; left:839px; width:215px}
.ty2 h3{ width:359px; height:225px; overflow:hidden; position:absolute; top:0px; left:362px}
.ty2 h3 img{ width:359px; height:225px}
.ty2 h4{ width:269px; height:225px; position:absolute; top:225px; left:541px}
.ty2 h4 img{width:269px; height:225px}

.pro_key { line-height:35px;  border-top:dashed 1px #ccc; margin-top:5px; font-size:14px}
.pro_key span { font-weight:bold}
.pro_key a {font-size:12px; margin-right:10px}

.pro_commend ul { padding-top:20px; overflow:hidden; *zoom:1; height:280px; margin-bottom:10px}
.pro_commend ul li { width:255px; float:left; display:inline; margin-left: 20px;padding-bottom: 10px}
.pro_commend ul li:first-child, .pro_commend ul li:nth-child(5n) { margin-left: 0}
.pro_commend ul li img { width:255px; height:235px; transition:all 0.3s}
.pro_commend ul li:hover img { opacity:0.7}
.pro_commend ul li span { display:block; line-height:30px; height:30px; font-size:14px; text-align:center; overflow:hidden}

/*---------------------------产品详细页模板2------------------------*/
.pd_tmpl2_left {width:320px;float:left;}
.pd_tmpl2_right { width:750px;float:right;padding-top:30px}
.pd_tmpl2_right p {padding:0;margin:-1em 0}
.pd_tmpl2_pro_attr { width:300px}
.pd_tmpl2_pro_attr h3 { font-size: 24px; height:30px; line-height:30px; color:#137F39; font-weight:bold; padding: 10px 0px;border-bottom:4px #eee solid}
.pd_tmpl2_pro_attr_p { font-size:14px; line-height:24px; margin-bottom: 2px; overflow:hidden}
.pd_tmpl2_pro_attr_p dl {float:left;padding:8px 0;border-bottom:1px #eee solid}
.pd_tmpl2_pro_attr_p dt {float:left;width:80px;line-height:20px; font-weight:bold}
.pd_tmpl2_pro_attr_p dd {width:220px;line-height:20px;float:left}
.pd_tmpl2_pd_hotline { float: left; height: 66px; line-height: 66px}
.pd_tmpl2_pd_hotline span { font-size:18px; color:#333;padding-bottom: 20px}
.pd_tmpl2_pd_hotline span.font_hotline { font-size:24px; color:#137F39;font-weight:bold}
.pro_tmpl2_proparp {padding-left:126px}

.pd_tmpl2_pro_commend {border:1px #ddd solid;width:300px;margin-top:20px}
.pd_tmpl2_pro_commend h3 {font-size:20px;color:#333;border-left:4px solid #F31E1E;font-weight:bold;margin-top:20px;padding-left:15px}
.pd_tmpl2_pro_commend ul { overflow:hidden; *zoom:1;}
.pd_tmpl2_pro_commend ul li { width:298px; float:left; overflow:hidden; display:inline; text-align:center;padding-bottom: 20px}
.pd_tmpl2_pro_commend ul li:first-child, .pro_commend ul li:nth-child(5n) { margin-left: 0}
.pd_tmpl2_pro_commend ul li img { width:255px; transition:all 0.3s}
.pd_tmpl2_pro_commend ul li:hover img { opacity:0.7}
.pd_tmpl2_pro_commend ul li span { display:block; line-height:30px; height:30px; font-size:14px; color:#333; text-align:center; overflow:hidden}

/*---------------------------新闻----------------------------------*/
/*新闻列表样式*/
/*3图文竖排*/
.new3_wrap {padding-top: 15px}
.new3_con { width:265px; padding:10px 10px!important; float:left; display:inline-block}
.new3_img { width:265px; overflow:hidden; }
.new3_img a { width:261px;padding:1px; border:1px solid #ccc; display:block; height: 344px; transition:all 0.3s}
.new3_img a:hover { border-color:#15813A}
.new3_img img { padding: 2px; width:257px;height: 340px; transition:all 0.3s;}
.new3_img a:hover img { opacity:0.7}
.new3_name {width:261px; height:40px; line-height:19px;overflow:hidden; padding:10px 2px; font-size:14px;}
/*1标题列表*/
.new1_wrap {padding-top: 15px}
.new1_wrap li{ background:url("/spectacle/img/ico10.gif") no-repeat 0 center; padding:5px 0; padding-left:10px; height:25px;font-family: "宋体"; border-bottom: 1px dashed #efefef; line-height:25px}
.new1_wrap li a {  font-size: 13px; float:left; width:750px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; color:#666}
.new1_wrap li span { float:right; font-size:12px; color:#888; width: 75px; text-align:right}
/*2图文横排*/
.new2_wrap {padding-top:0px}
.new2_con { background:#f5f5f5; border:2px solid #eee; height:150px; padding:20px; margin-bottom:30px; overflow:hidden; *zoom:1; transition:all 0.3s; display:block}
.new2_con:hover { border:2px solid #137F39}
.new2_img { float:left;  height:150px; padding-right:20px}
.new2_img img { height: 150px}
.new2_con .new2_txt h2 { font-weight:100; line-height:22px; height:40px; overflow:hidden; font-size:16px}
.new2_con .new2_txt h2 a { color:#137F39}
.new2_con .new2_txt p { text-indent:2em; line-height:24px; color:#958e95; font-size:14px; text-align:justify; height:72px; margin-bottom:10px; overflow:hidden}
.new2_con .new2_txt span a.btn_more { padding:0 20px 0 0}

/*新闻内容详细-第一种*/
.agent_con { padding-top:10px; line-height:28px}
.agent_con p { margin:15px 0}
.age_li_about { padding-top:10px}
.agent_con .age_li_about { font-size:14px}
.agent_con .age_li_about p { white-space: normal; letter-spacing: normal; word-spacing: 10px}
.rt_bot_line { background:#A0C23C; height:2px; font-size:0; margin-top:20px; margin-bottom:10px}
.age_con_key { width:730px; margin:0 auto; margin-bottom:20px}
.age_con_key .age_con_key1 { }
.age_con_key .age_con_key1 span { margin:0; font-weight:bold}
.age_con_key .age_con_key2 { float:right}

/*新闻内容详细-第二种*/
.position2 { background:url("/spectacle/img/position_icon1.gif") no-repeat 10px 7px; height:20px; line-height:24px; padding:7px 8px 8px 35px; position:relative; color:#666; overflow:hidden; font-size:14px; border-bottom:1px solid #d1ba7d; padding-bottom:10px; font-family:"Microsoft Yahei", "微软雅黑"; color:#333}
.position2 a { color:#666}
.left2 { width:780px; float:left; overflow:hidden}
.left2_main { padding-bottom:15px; width:780px; border:none; overflow:hidden}
.left2_main img { max-width:100%}
.n_info_con { width:780px; padding:0px 0px 0 0px;  font-size:14px}
.n_info_con2 { margin:0 auto; border:1px solid #D6D6D6}
.n_info_con strong{ font-weight:bold}
.n_info_con h1 {  padding-top:16px; color: #333;  font-weight:normal;  font-size: 22px; line-height: 40px; padding-bottom:10px;  margin-bottom: 10px; text-align: center;font: 20px/63px "Microsoft Yahei";border-bottom:1px solid #d1ba7d}
.info_con_tit {font-family:"宋体";  line-height:24px; margin-bottom:15px}
.info_con_tit span { margin-right:20px}
.info_con_tit .m_qrinfo{position:relative}
.m_qrcode{ display:none; position:absolute; left:0px; top:20px; background:#fff;border:1px dashed #f1f1f1}
.m_qrcode em{ line-height:24px; color:red; display:block; text-align:center; font-style:normal}
.info_con_tit .n_tit {  text-align:left; color:#666; border-bottom:1px dashed #999; height:44px; line-height:44px}
.info_con_tit .n_tit .m_qrinfo a{background:url("/spectacle/img/tel0.gif") no-repeat left top; height:45px; display:inline-block; font-size:0px; width:24px}
.info_con_tit .n_tit .m_qrinfo a:hover{background:url("/spectacle/img/tel1.gif") no-repeat left top}
.info_con_tit .n_tit a{ color:#BCBBBB}
.info_con_tit .n_tit span .cur{color:#000}
.info_con_tit .n_tit2 { height:24px}
#cntrBody{ padding-top:12px}
.n_info_con p { line-height:28px; margin:15px 0}
.n_info_con p a { color:#333; border-bottom:1px #ccc dashed}
.n_info_con p a:hover { text-decoration:none; border-bottom:1px #999 dashed}
.n_info_con .apage { text-align:center; margin-bottom:10px}
/*下一篇、下一篇*/
.gduo{ line-height:30px; background:#f7f7f7; overflow:hidden; margin:15px 0px; padding:0 10px}
.gduo span{ overflow:hidden; height:30px; display:block}
.gduo a{  color:#201618}
.n_info_con2 .t04 { color:#fff; border-bottom:1px solid #E0E0E0;  color:#0F70B0; line-height:48px; height:48px; font-size:0; background:url("/spectacle/img/news_28.gif") no-repeat 12px center}
.n_info_con2 .t04 b{ font-weight:bold; font-size:20px; text-transform:uppercase;font-family: 宋体; font-size:0}
.n_info_con2 .t04 a { color:#B61212}
.n_info_con2 .t04 a:hover { color:#B61212}
.info_b{border-top:none; padding:10px;}
ul.p_list_ul li { background:url("/spectacle/img/kh_jt2.png") no-repeat left center; line-height:40px; height:40px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; text-indent:20px; margin-left:10px; display:block; border-bottom:1px dashed #ccc; color:#666; font-size:14px; padding-left:6px}
.info_key { border-bottom:solid 1px #ccc; line-height:30px; padding:0 10px; margin:0px 0; overflow:hidden; font: 14px/30px "Microsoft Yahei"; padding-bottom:20px}
.info_key em{ padding: 0px 12px}
.info_key span { font-size:14px}
.info_key a { margin-right:10px}
/*righht2*/
.right2 { width:275px;  float:right; overflow:hidden}
.right2_main { width:275px; overflow:hidden; padding-bottom:15px; border:none}
.t03 {line-height: 46px; height:46px; margin-bottom:5px; text-indent: 22px}
.t03 h4 { font-size:14px}
.right2_main .t03 a { color:#201618 ; display:block; width: 180px; font-size: 18px; font-family:"Microsoft YaHei"}
.p_rt_tit{ line-height:32px; height:32px; text-overflow: ellipsis;white-space: nowrap;overflow:hidden; color:Orange; margin-left:21px;width: 230px;background: none repeat scroll 0 0 #ddd; border-bottom: 1px solid #fff}
.p_rt_ul li.cur .p_rt_tit{top: 150px;left: 21px;position: absolute;background: none repeat scroll 0 0 #000 ;opacity: 0.6; filter:alpha(opacity=60); width: 230px; text-align:center; margin-left:0px; height:32px}
.p_rt_ul{list-style:none; border-top:none; padding-bottom:5px; width:272px; overflow:hidden; background:#fff}
.p_rt_ul li{ float:left; padding:0px; background:#fff;width:100%; transition:none }
.p_rt_ul li h3{ font-size:12px; font-weight:normal;color:Black; line-height:32px; height:32px; white-space: nowrap; text-overflow: ellipsis; overflow:hidden}

.p_rt_ul .cur{background:#fff; opacity:0.9;filter:alpha(opacity=90); position: relative; padding-top: 16px}
.p_rt_ul .cur h3 a{font-weight:bold; color:#fff}
.p_rt_ul li h3 a{ font-size:12px; font-family:Arial; font-weight:normal; margin-left:5px; color:#201618;  height:32px}
.p_rt_ul li.cur h3 a{ line-height:32px}
.p_rt_ul dl{ width: 230px; overflow:hidden; display:none; padding-left:16px; background:#fff; margin-left:5px}
.p_rt_ul dl dd{ float:left}
.p_rt_ul dl dd a { transition:none}
.p_rt_ul dl dt{ float:left; overflow:hidden; display:block; line-height:24px}
.p_rt_ul dl dt a{ color:#666666; font-size:12px; line-height:24px; display:block; margin-top: 5px}
.p_rt_ul li dd img{ width:230px; height:207px; display:block}
.p_rt_ul li .r_info{ display:block; font-size:0px}

ul.n_rt_ul { background:none; width:230px; margin:8px auto; overflow:hidden; padding-left:5px}
ul.n_rt_ul li { line-height:32px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; padding-left:20px; padding-right:20px; background:url("/spectacle/img/a2.gif") no-repeat left center}
ul.n_rt_ul li a{ display:block;  width:190px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font:14px Microsoft YaHei; color:#666; height:32px; line-height:32px; padding-left:6px}
ul.n_rt_ul li.cur{background:url("/spectacle/img/a1.gif") no-repeat left center}
ul.n_rt_ul2 {width:240px; margin:8px auto; overflow:hidden}
ul.n_rt_ul2 li { line-height:24px; height:24px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; padding-left:5px}

/*-----------------------------加盟条件-------------------------*/
.tabbtn li{ float:left; text-align:center; width:265px; font-size:14px; border:1px solid #efefef}
.tabbtn li a{ display:block; height:40px; line-height:40px}
.tabbtn li a:hover,.tabbtn li.current a{ background:#137F39; color:#fff; font-weight:bold}
.sublist{ font-size:14px; line-height:28px; margin-bottom:60px}
.zc2{ margin-top:32px; background:url("/spectacle/img/20160614215521_3932.jpg") no-repeat center 52px; position:relative; height:540px}
.zc2 dl{ width:260px; height:135px; overflow:hidden; position:absolute}
.zc2 dt{ font:22px "Microsoft Yahei"; font-weight:bold; color:#15813a}
.zc2 dt em{ font:40px Impact; padding-right:12px}
.zc2 dd{ font:14px "Microsoft Yahei"; line-height:24px; color:#666}
.zc2 .dl01{ top:15px; left:70px}
.zc2 .dl02{top:189px; left:30px}
.zc2 .dl03{top:360px; left:70px}
.zc2 .dl04{top:15px; right:70px; text-align:right}
.zc2 .dl05{top:189px; right:30px;text-align:right}
.zc2 .dl06{top:360px; right:70px;text-align:right}
.zc2 .dl04 dt em,.bz2 .dl05 dt em,.bz2 .dl06 dt em{ padding:0 0 0 12px}
.jmtj li{float: left;width: 310px;margin-right: 460px;margin-top: 20px;height: 82px}
.jmtj  li.clast{margin-right:0px}
.jmtj  li p{color:#000;font-size:14px}
.jmtj  li p span{color: #fff;font-size: 18px;font-weight: bold;margin-right: 15px;background-color: #90bc2f; padding: 0px 5px 0px 5px}
.kc dl{float:left;width:350px;height:365px;margin-right:12px;margin-top:7px;margin-bottom:5px;overflow:hidden;background-color:#f7f7f7;border:1px solid #f7f7f7}
.kc dt{height:113px;text-align:center;overflow:hidden}
.kc dd{padding:20px 4px 0 8px;text-align:justify}
.kc h5{font-size:18px;text-align:left;padding:25px 10px 20px 15px}
.kc p{margin-top:10px;text-align:justify;font-size:14px;padding:0 10px 0 10px; line-height:28px;}
.kc .on:hover{border-color:#0e7939}
.kc .on:hover h5{color:#0e7939}
.kc .on:hover p{color:#0e7939}
.news-list{background:#f5f5f5;border:2px solid #eee;height:150px;padding:20px;margin-bottom:30px;overflow:hidden}
.news-list.cur,.news-list:hover{border:2px solid #137F39}
.news-list .image{float:left;height:150px;padding-right:20px}
.news-list .image img{height:150px}
.news-list .text h2{font-weight:100;line-height:22px;height:40px;overflow:hidden;font-size:16px}
.news-list .text h2 a{color:#137F39}
.news-list .text p{text-indent:2em;line-height:24px;color:#958e95;font-size:14px;text-align:justify;height:72px;margin-bottom:10px;overflow:hidden}
.news-list .text span.btn a{padding:0 20px 0 0}

.pagemenu { background:#f7f7f7; height:60px}
.pagemenu ul li { display:inline-block;padding:0 15px;}
.pagemenu ul li a { color:#0E7939; line-height:60px;display:inline-block; font-size:16px}
.pagemenu ul li a.this {font-weight:bold;border-bottom:1px #A0C23C solid}
.pagemenu ul li a:hover { color:#111; text-decoration:none;border-bottom:1px #ccc solid}
.page_content { float:left; width:870px; margin-right:50px}
.info_title { font-size:16px; text-align:center}
.relax { margin-bottom:30px; overflow:hidden}
.relax li { line-height:22px; margin-bottom:5px}
.content, .info { line-height:30px; color:#333}

/*news-detail*/
.main { width:790px; margin-right:50px}
.info .news-title { font-size:20px; margin-top:0; margin-bottom:10px}
.info p { color:#666; margin-top: 8px; margin-bottom: 8px;}
.info .news-dsc { color:#999; margin:0 0 30px 0; padding-bottom:20px; border-bottom:1px solid #ededed; font-size:12px}
.info .news-dsc strong { font-weight:normal}
.info hr, .content hr { margin:30px 0; border:0; border-top:1px solid #eee}


/*page*/
.page { padding:30px 0 30px; text-align:center;clear:both}
.page li { display:inline}
.page a { padding:5px 10px; border:1px solid #ddd; background:#fff; line-height:18px; border-radius:3px; color:#454545; margin:0 5px}
.page span.current { margin:0 5px}
.page li.thispage, .page a:hover { padding:5px 10px; border:1px solid #c01320; background:#c01320; color:#fff; text-decoration:none; border-radius:3px}
.history {width:1040px;margin:0 auto}
.history dl {float:left;width:100%;margin-bottom:40px}
.history dt {float:left;width:80px;height:80px;line-height:80px;background-color:#0e7939;color:#fff;font-size:22px;font-weight:bold;font-family:arial;text-align:center;border-radius:50%;margin-top:6px}
.history dd {float:right;width:900px}
.history dd span {padding-right:15px;color:#9BBF7D;font-style:normal}

/*---sitemap-*/
.map_main { overflow:hidden; border:solid 5px #F0F0F0; margin:10px 0; padding-bottom:10px; }
.sitemap_con { width:845px; margin:0 auto; color:#666; padding:30px 0}
.sitemap_con .map_top { border-bottom:solid 1px #ccc; }
.sitemap_con .map_top img { float:left;}
.site_r_link { width:120px; margin-top:45px; border:1px solid #cdcdcd; background:#F8F8F8; padding:5px 10px; float:right; }
.site_plc { background:url(Img/ico27.gif) no-repeat 0 8px; padding:5px 0; text-indent:10px;}
.sitemap_con h4 { line-height:30px;}
.sitemap_con h4 a { font-size:16px;margin-bottom:10px;color:#006666}
.sitemap_con h4 a:hover { text-decoration:none}
.b4 { margin-bottom:20px}
.b4 ul {border:1px #eee solid;padding:10px;overflow:hidden}
.b4 li { float:left ; line-height:25px; width:134px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.b4 li a { color:#333}
.b4 li a:hover { color:#A0C23C;}

#roll_top,#fall,#ct{position:relative;cursor:pointer;height:72px;width:26px}
#roll_top{background:url(/spectacle/img/top.gif) no-repeat}
#fall{background:url(/spectacle/img/top.gif) no-repeat 0 -80px}
#ct{background:url(/spectacle/img/top.gif) no-repeat 0 -40px}
#roll{display:block;margin-right:-500px;position:fixed;right:42%;top:80%;_margin-right:-505px;_position:absolute;_margin-top:300px;_top:expression(eval(document.documentElement.scrollTop))}

/* -- 弹出窗口 -- */
#mesbook1_c, #mesbook1{display:none;z-index:1001;width:398px;border:1px solid #ccc;background:#fff; padding-bottom:20px;}
#mesbook1_c div, #mesbook1 div{ border:1px solid #E4E3E3; background:#EBECEB;height:18px; padding:4px .5em 0; margin-bottom:10px;}
#mesbook1_c dl.b1, #mesbook1 dl.b1 { width:370px; margin:0 auto;}
#mesbook1_c dl.b1 dt, #mesbook1 dl.b1 dt { float:left; width:105px; overflow:hidden; }
#mesbook1_c dl.b1 dd, #mesbook1 dl.b1 dd { width:265px; float:right;}
#mesbook1_c #mesbook1_cBtns, #mesbook1 #mesbook1Btns{padding-bottom:10px;}
#mesbook1_c #mesbook1_cBtns input, #mesbook1 #mesbook1Btns input {margin-right:20px;}

.inquiry dl {margin-bottom:10px;}
.inquiry dt {float:left;width:150px;text-align:right;padding-right:10px;overflow:hidden; line-height:32px;}
.inquiry dd {display:inline}
.inquiry input[type="text"],.inquiry textarea{border:1px solid #d5d5d5;color:#555;padding:5px 4px; outline:none;}
.onShow,.onFocus,.onError,.onCorrect{display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline; vertical-align:middle;background:url(/spectacle/img/msg_bg.png) no-repeat;color:#444;line-height:18px;padding:2px 10px 2px 23px; margin-left:10px;_margin-left:5px}
.onShow{background-position:3px -147px;border-color:#40B3FF;color:#959595}
.onFocus{background-position:3px -147px;border-color:#40B3FF;}
.onError{background-position:3px -47px;border-color:#40B3FF; color:red}
.onCorrect{background-position:3px -247px;border-color:#40B3FF;}

/*招商加盟*/
body { min-width:1214px;}
em,i { font-style:normal}
.tab_search { background:#fff; width:100%; overflow:hidden;}
.tab_search .search_box { margin-top:40px; margin-bottom:22px; height:40px; line-height:40px;}
.search_left { float:left; font-size:16px; color:#4A4A4A;}
.search_left span,.search_left a,.search_a { float:left; display:inline-block}
.search_left a { position:relative; text-indent:30px;}
.search_left a:after { background:url('/spectacle/img/arraw.png') no-repeat center; content:''; position:absolute; left:0; top:0; height:100%; width:30px;}
.search_left a:first-child { text-indent:10px}
.search_left a:first-child:after { display:none}
.search_right { float:right; width:258px; border:1px solid #979797; height:38px; line-height:38px; border-radius:20px;}
.search_right input[type='text'] { border:none; background:none; box-shadow:none; width:180px; height:34px; line-height:34px; font-size:14px; color:#4a4a4a; margin:2px 0 2px 22px; float:left;}
.search_right input[type='submit'] { width:40px; height:38px; float:right; margin-right:10px; background:url('/spectacle/img/search.png') no-repeat center; display:block; cursor:pointer; border:none;}
.tab_scqj_wrap { overflow:hidden; background:#F0F0F0;}
.tab_scqj { margin:0 auto; width:1080px;}
.tab_title { margin-top:87px; overflow:hidden; width:100%; display:block; text-align:center;}
.tab_title span { line-height:46px; display:block; width:100%; overflow:hidden; font-size:28px; color:#0e7939; font-weight:bold; letter-spacing:2px;}
.tab_title em { display:block; overflow:hidden; width:100%; line-height:20px; font-size:14px; color:#8E8E8E;}
.tab_info { display:block; text-align:center; overflow:hidden; width:100%; margin-top:20px;}
.tab_info span { font-size:18px; color:#000; line-height:30px; width:100%; overflow:hidden; display:block;}
.tab_info em { color:#4A4A4A; font-size:22px; line-height:36px; margin-top:10px; width:100%; overflow:hidden; display:block; font-weight:bold;}
.tab_step { margin:68px auto 86px; width:1056px; overflow:hidden; text-align:center;}
.tab_step_item { float:left; width:334px; margin-left:27px; display:inline-block; overflow:hidden;}
.tab_step_item:first-child { margin-left:0;}
.step_item_top { width:100%; height:46px; line-height:46px; display:block; text-align:center; overflow:hidden;}
.step_item_top_main { display:inline-block;}
.step_item_top_main i { background:#D8D8D8; float:left; border-radius:50%; width:44px; height:44px; line-height:44px; border:1px solid #979797; margin-right:6px; font-size:20px; color:#000; font-weight:400;}
.step_item_top_main em,.step_item_top_main span { float:left; display:inline-block; margin-right:12px; font-weight:bold; font-size:18px; color:#000;}
.step_item_top_main span { margin-right:0}
.step_item_btm { width:290px; padding:20px 22px 36px; background:#fff; overflow:hidden; margin-top:24px; transition:all 0.3s;}
.tab_step_item:hover .step_item_btm { background:#0e7939;}
.tab_step_item:hover .step_item_btm .step_name { color:#fff;}
.tab_step_item:hover .step_item_btm .step_dsc { color:#a7e0be;}
.step_name { padding:10px 0 7px; display:block; width:100%; overflow:hidden; line-height:22px; color:#101938; font-size:14px; transition:all 0.5s;}
.step_dsc { overflow:hidden; margin-top:22px; display:block; width:100%; font-size:12px; color:#8E8E8E; line-height:18px; font-weight:400; transition:all 0.5s;}
.tab_jmys_li { overflow:hidden; width:100%;}
.tab_jmys_li li { float:left; margin-left:12px; width:192px; background:#208B36; margin-top:68px; transition:all 0.3s;}
.tab_jmys_li li:hover { margin-top:60px; box-shadow:inset -4px -4px 0 0px rgba(0,0,0,0.3);}
.tab_jmys_li li:first-child,.tab_jmtj_li li:first-child,.tab_jmlc_li li:first-child,.tab_jmlc_li li.li_ml_0,.tab_jmkh_item:first-child { margin-left:0}
.jmys_li_ico { text-align:center; margin:35px auto 6px; height:35px;}
.jmys_li_ico img { height:35px; width:auto}
.jmys_li_title { color:#f0f0f0; line-height:28px; font-size:18px; text-align:center; font-weight:bold; letter-spacing:1px; padding-top:10px; padding-bottom:5px;}
.jmys_li_dsc { color:#fff; font-size:14px; padding:18px; overflow:hidden; line-height:22px; min-height:66px; margin-bottom:10px;}
.tab_sub_title { display:block; overflow:hidden; width:100%; text-align:center; font-size:18px; color:#4A4A4A; margin-top:2px; line-height:30px;}
.tab_jmtj_li,.tab_jmlc_li,.tab_jmkh_box { width:100%; overflow:hidden; margin-top:80px;}
.tab_jmtj_li li { float:left; margin-left:12px; width:261px; background:#F0F0F0;}
.jmtj_li_ico { width:100%; text-align:center; overflow:hidden; margin-top:60px; margin-bottom:16px; padding-bottom:10px;}
.jmtj_li_ico img { transition:all .8s; display:block; margin:0 auto; position:relative; top:0;}
.tab_jmtj_li li:hover .jmtj_li_ico img { top:10px;}
.tab_jmtj_li li span { height:120px; line-height:22px; padding:0 40px; color:#4A4A4A; font-size:14px; display:block; transition:all 0.3s; position:relative; top:0;}
.tab_jmtj_li li:hover span { color:#208b36; font-size:15px; top:-5px;}
.tab_jmlc_li { margin-top:50px;}
.tab_jmlc_li li { float:left; margin-left:60px; width:364px; margin-top:30px; position:relative;}
.tab_jmlc_main { float:left; background:#E4E4E4; width:274px; padding:36px 30px; height:50px; line-height:50px;}
.tab_jmlc_img { float:left; display:inline-block; margin-right:24px;}
.tab_jmlc_img img { display:block; height:50px; width:auto;}
.tab_jmlc_main span { float:left; display:inline-block; color:#4A4A4A; font-size:14px;}
.tab_jmlc_main em { float:right; display:inline-block; color:#8E8E8E; font-size:44px; font-weight:normal; font-family:Arial, Helvetica, sans-serif; transition:all 0.3s;}
.tab_jmlc_li li:hover .tab_jmlc_main em { font-size:48px; color:#208b36; font-weight:bold}
.tab_jmlc_right { width:0; height:0; border-width:15px 30px; border-style:solid; border-color:transparent; border-left-color:#E4E4E4; position:absolute; right:-30px; top:41px;}
.tab_jmkh_item { float:left; margin-left:17px; width:348px; overflow:hidden;}
.jmkh_item_pic { width:100%; height:320px; overflow:hidden; display:block;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}

.jmkh_item_pic img { width:100%; height:auto;}
.jmkh_item_name { width:100%; display:block; overflow:hidden; height:45px; line-height:45px; color:#fff; text-align:center; background:#208B36; font-size:16px;}
.tab_jmkh_btm { margin:80px auto 110px; text-align:center; display:block;}
.tab_jmkh_btm a:hover { text-decoration:none; background:#a1c23f}
.tab_jmkh_btm a {  vertical-align: middle; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px transparent; position: relative; overflow: hidden; transition:all .3s; height:50px; line-height:50px; padding:0 89px; background:#208B36; border-radius:28px; color:#fff; display:inline-block; font-size:20px;}

